body{
    font: 15px/1.5 Arial,Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color: #f4f4f4;
}
.home{
    background-color: #0e0e0e;
    padding: 13px 25px 10px 100px;
}

.logo {
    height: 67px;
    position: absolute;
}

.show{
    color: #c30303;
}

#showpoints {
    display: none;
}

.points{
    color: #00f1ff;
    margin:-35px -41px 0 50px;
}

.ptitle{
    padding: 7px 30px 5px 12px;
    position: absolute;
    background: black;
    margin-top: 0;
}

/*GAME MESSAGES--WRONG & CORRECT*/

.errormessage{                                     /*Wrong Answer GIVEN*/
    margin-top: 0;
    color: crimson;
    display: none;
}

.successmessage{                                   /*Correct Answer GIVEN*/
    margin-top: 0;
    color: honeydew;
    display: none;
}

/*Team Name Error*/

#exist{                                           /*Already exist Error*/
    color: #ef0000;
    margin-right: 106px;
    font-size: 16px;
    margin-top: 5px;
    display: none;
}

/*-------------------------------------------------------------------------------------------------------------*/

/* Global + Buttons */

.container{
    width:92%;
    margin:auto;
    overflow:hidden; /*if something goes outside of div it will be hidden*/
}

button{
    color: #00f1ff;
    font-weight: bold;
    background-color: #646c73;
    padding: 5px 40px 5px 40px;
    transition: 0.6s;
}

button:hover{
    color:#e8491d;
    transition: 0.5s;
    font-weight: bold;
}

.button_1{
    padding: 2px 11px 3px 11px;
}
button .button_1{
    padding: 5px 47px 5px 48px;
}

input.button_1{
    background: #646c73;
    color: #00f1ff;
    padding: 3px 27px 3px 27px;
}
/*SKIP BUTTON*/                                                 /*SKIP(JAVASCRIPT NEEDED)*/
.skip{
    display: none;
    transition: opacity 0.2s ease;
}

.button_2{
    color: #3fde3c;
    background: #0e0e0e;
    transition: 0.5s;
}

.button_2:hover .skip{
    transition: opacity 0.2s ease;
    color: #000000;
    background: #ffffff;

}

/*Activate Button*/

.activate{
    padding: 5px 47px 5px 48px;
}

#teamname{
    padding:2px 0 3px 0;
}

ul{
    margin:0;
    padding:0;
}

/*-------------------------------------------------------------------------------------------------------------*/

/* Header */

header{
    background: #35424a;
    color: #ffffff;
    padding-top: 1px;
    min-height: 68px;
    border-bottom: #e8491d 3px solid;
}

header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float:left;
    display:inline-block;
    padding:0 20px 0 20px;     /*top right bottom left*/
    border:2px solid #e8491d;
    margin-right: 2px;
}

header #branding{
    float:left;

}

header #branding{
    margin: -20px;
    padding-left: 20px;
    padding-right: 20px;
}
header nav{
    float:right;
    margin-top:20px;
}

header .highlight, header .current a, section .highlight{
    color:#e8491d;
    font-weight:bold;
    transition: 1.0s;
}

header a:hover{
    color: #ffffff;
    font-weight: bold;
    transition: 0.6s;
}

.currentmain{
    color:#e8491d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.8s;
    font-weight: bold;
}

/*-------------------------------------------------------------------------------------------------------------*/

/* Showcase */

#showcase{
    min-height: 400px;
    background: url(DNA1.jpg)-270px -220px;
    position: initial;
    background-size: 150%;
    text-align: center;
    color: #ffffff;
    transition: 10s;
}

#showcase p{
    font-size: 18px;
    padding-top: 10px;
}

#login{
    padding:30px;
    color:white;
    background:#35424a;
}

#login h1{
    float: left;
    color: #e8491d;
    padding-left: 25%;
}

#login form{
    float: left;
    margin-top: 20px;
    margin-left: 77px;

}

#login input[type="text"]{
    padding: 5px;
    height: 10px;
    width: 150px;
}

/*-------------------------------------------------------------------------------------------------------------*/

/*Boxes*/

#boxes{
    margin-top: 39px;
    padding-bottom: 2%;
}

#boxes .box{
    float:left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width:90px;
}

/*-------------------------------------------------------------------------------------------------------------*/

/* MESSAGES FOR GAME OPTIONS */
/* STEP 1 */
#welcome1 {                                                      /*HIDDEN*/
    display:none;
    width: 100%;
    color: #00f1ff;
    padding-top: 53px;
}
/* STEP 2 */
#welcome2 {                                                      /*HIDDEN*/
    padding-top: 30px;
    display:none;
    width: 100%;
}
/* STEP 3 */
#welcome3 {                                                      /*HIDDEN*/
    padding-top: 6px;
    display:none;
    width: 100%;
    margin-top: 40px
}
/* QUESTION TITLE */
.highlight{                                                      /*HIDDEN*/
    text-transform: uppercase;
    display: block;
}
/* OPINION TITLE */
.opinion{                                                        /*HIDDEN*/
    display: none;
    padding-right: 13%;
    padding-top: 35px;
    margin-bottom: 0;
    color: #e8491d;
    font-size: 18px;
    position: sticky;
    transition: 5s;
}

/*-------------------------------------------------------------------------------------------------------------*/

/* GAME STEPS OPTIONS*/
/*Question Header*/
.QQ{
    color: #08d050;
    display: block;
}

/* STEP 1 OPTIONS*/
/*Choose Samples*/
.samples {                                                       /*HIDDEN*/
    padding-top: 10px;
    overflow: hidden;
    width: 44%;
    display: none;
    margin-left: 28%;
}

#showcase .samples li{
    padding: 3px 10px 2px 10px;
    margin-top: 20px;
    color:#ffffff;
    background-color: #35424a;
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
    border: 2px solid #e8491d;
    list-style-type: none;
    transition: 0.7s;
    text-transform: uppercase;
}

#showcase .samples li:hover{
    color: #e8491d;
    font-weight: bold;
    transition: 0.6s;
}

#showcase .sample{
    padding: 5px 0 5px 0;
}

#treasurehuntlist {                                                   /*HIDDEN*/
    display: none;
}

/* Step 2 OPTIONS*/
/*GIVE TEAM NAME*/
#form2{                                                              /*HIDDEN*/
    display: none;
    margin-left: 55px;
}

/* Step 3 OPTIONS*/
/*CHOOSE A,B,C,D BUTTONS*/
.container2 {
    width: 45%;
    height: 55%;
    margin: auto;

}

.button{
    float: left;
    display: inline-block;
    padding: 15px 65px 10px 60px;
    border: 2px solid #e8491d;
    margin-left: 2%;
    color: #0e0e0e;
    font-weight: bold;
    font-size: 15px;
    background: chocolate;
}

#mcq {                                                               /*HIDDEN*/
    display: none;
}

#questions {                                                         /*HIDDEN*/
    display: none;
}
/* Step 4 */
/*TEXT ANSWERS*/
.container3{                                                         /*HIDDEN*/
    display:none;
}

.textanswer{
    padding: 5px 0 5px 0;
    text-align: center;
}

/* Step 5*/
/*NUMERIC ANSWERS*/
.container4{                                                          /*HIDDEN*/
    display: none;
    padding-top: 25px;
}

.numberanswer{
    padding: 5px 0 5px 0;
    text-align: center;
}

.numberanswer::-webkit-inner-spin-button,::-webkit-outer-spin-button{
    opacity: 1;
    -webkit-appearance: button;
    margin: 0;
}

/* Step 6*/
/*TRUE & FALSE*/
.container5{
    display: none;                                                   /*HIDDEN*/
    padding: 2%;
}

.or{
    margin: -10px 10px -4px 8px;
    color: #00f1ff;
}

/* Step 7*/
/*END*/
#end{
    display: none;                                                  /*HIDDEN*/
}
.replay1{
    color: #2acc04;
    padding: 14px 142px 14px 142px;
}

.replay2{
    color: gold;
    padding: 14px 147px 14px 147px;
}

.replay3{
     color: white;
    padding: 14px 145px 14px 144px;
 }

.replay1,.replay2,.replay3:hover{
    transition: 0.8s;
}

/*-------------------------------------------------------------------------------------------------------------*/

footer{
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color:#e8491d;
    text-align: center;
}

/*-------------------------------------------------------------------------------------------------------------*/

/* Media Queries */

@media(max-width: 777px){
#boxes .box,header nav,header #branding{
    float: none;
    text-align: center;
    width: 100%;
}
    .container li,.container a{
        float: left;
        font-size: 14px;
    }
    .container{
        width: 100%;
    }
    #showcase{
        min-height: 400px;
        background: url(DNA1.jpg)-2500px -719px;
        position: initial;
        background-size: 970%;
        text-align: center;
        color: #ffffff;
        transition: 10s;
        padding: 10px;
    }
    .samples {
        padding-top: 10px;
        overflow: hidden;
        width: 67%;
        display: none;
        margin-left: 16%;
    }
    #showcase .samples li {
        padding: 3px 10px 2px 10px;
        margin-top: 20px;
        color: #ffffff;
        background-color: #35424a;
        font-weight: bold;
        font-size: 17px;
        text-decoration: none;
        border: 2px solid #e8491d;
        list-style-type: none;
        transition: 0.7s;
        text-transform: uppercase;
    }
    .ptitle {
        padding: 7px 32px 7px 12px;
        position: absolute;
        background: black;
        margin-top: -10px;
    }

}

@media(max-width: 373px) {
    .container li, .container a {
        float: left;
        font-size: 13px;
        padding: 3px 6px 3px 7px;
    }
    .samples {
        padding-top: 10px;
        overflow: hidden;
        width: 67%;
        display: none;
        margin-left: 16%;
    }
    #showcase .samples li {
        padding: 3px 10px 2px 10px;
        margin-top: 20px;
        color: #ffffff;
        background-color: #35424a;
        font-weight: bold;
        font-size: 17px;
        text-decoration: none;
        border: 2px solid #e8491d;
        list-style-type: none;
        transition: 0.7s;
        text-transform: uppercase;
    }

}
