body{
    font: 15px/1.5 Arial,Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color: #f4f4f4;
}
.home{
    background-color: #0e0e0e;
    padding: 13px 25px 10px 100px;
}

.logo {
    height: 67px;
    position: absolute;
}

/* Global */
.container{
    width:92%;
    margin:auto;
    overflow:hidden; /*if something goes outside of div it will be hidden*/
}

button{
    color: #35424a;
    font-weight: bold;
    background-color: lightslategrey;
    padding: 3px 45px 5px 50px;
    transition: 0.6s;
}

button:hover{
    color:#e8491d;
    transition: 0.5s;
    font-weight: bold;
}

ul{
    margin:0;
    padding:0;
}

/* Header */
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 1px;
    min-height: 68px;
    border-bottom: #e8491d 3px solid;
}

header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float:left;
    display:inline-block;
    padding:0 20px 0 20px;     /*top right bottom left*/
    border:2px solid #e8491d;
    margin-right: 2px;
}

header #branding{
    float:left;

}

header #branding{
    margin: -20px;
    padding-left: 20px;
    padding-right: 20px;
}
header nav{
    float:right;
    margin-top:20px;
}

header .highlight, header .current a, section .highlight{
    color:#e8491d;
    font-weight:bold;
    transition: 1.0s;
}

header a:hover{
    color: #ffffff;
    font-weight: bold;
    transition: 0.6s;
}

.currentmain{
    color:#e8491d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.8s;
    font-weight: bold;
}




/* Showcase */

#showcase{
    min-height: 400px;
    background: url(DNA1.jpg)-270px -220px;
    position: initial;
    background-size: 150%;
    text-align: center;
    color: #ffffff;
    transition: 10s;
}

#showcase p{
    font-size: 18px;
    padding-top: 10px;
}

#login{
    padding:30px;
    color:white;
    background:#35424a;
}

#login h1{
    float: left;
    color: #e8491d;
    padding-left: 25%;
}

#login form{
    float: left;
    margin-top: 20px;
    margin-left: 77px;

}

#login input[type="text"]{
    padding: 5px;
    height: 10px;
    width: 150px;
}

/*boxes*/
#boxes{
    margin-top: 39px;
    padding-bottom: 2%;
}

#boxes .box{
    float:left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width:90px;
}




/* MESSAGES FOR GAME */
/* STEP 1 */
#welcome1 {                                                      /*HIDDEN*/
    padding-top: 30px;
    display:none;
    width: 100%;
}
/* STEP 2 */
#welcome2 {                                                      /*HIDDEN*/
    padding-top: 30px;
    display:none;
    width: 100%;
}
/* STEP 3 */
#welcome3 {                                                      /*HIDDEN*/
    padding-top: 30px;
    display:block;
    width: 100%;
}
/* OPINION TITLE */
.opinion{
    padding-right: 13%;
    margin-bottom: 0;
    color: #e8491d;
    font-size: 18px;
    position: sticky;
    transition: 5s;
}





/* GAME STEPS OPTIONS*/

/* STEP 1 OPTIONS*/
.samples {                                                       /*HIDDEN*/
    padding: 5px 0 5px 0;
    overflow: hidden;
    width: 85%;
    transform: translate(10%,0%);
    display: none;
}

#showcase .samples li{
    padding: 3px 10px 2px 10px;
    margin-top: 20px;
    color:#ffffff;
    background-color: #35424a;
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
    border: 2px solid #e8491d;
    list-style-type: none;
    transition: 0.7s;
    text-transform: uppercase;
}

#showcase .samples li:hover{
    color: #e8491d;
    font-weight: bold;
    transition: 0.6s;
}

#showcase .sample{
    padding: 5px 0 5px 0;
}

.highlight{
    text-transform: uppercase;
}

#treasurehuntlist {
    display: none;
}

/* Step 2 OPTIONS*/
#form2{                                                              /*HIDDEN*/
    display: none;
}

/* Step 3 OPTIONS*/
.container2 {
    width: 45%;
    height: 55%;
    margin: auto;

}

.button{
    float: left;
    display: inline-block;
    padding: 15px 65px 10px 60px;
    border: 2px solid #e8491d;
    margin-left: 2%;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
}

#mcq {
    display: none;
}
#box {
    display: none;
}

#tof {
    display: none;
}

#questions {
    display: none;
}
/* Step 5 */
/*input type="text"*/
.textanswer{
    padding: 3px 0 5px 5pc;
}
.container3{
    display:none;
}

/*input type="number"*/
.numberanswer{
    padding: 3px 0 5px 5pc;
}
.numberanswer::-webkit-inner-spin-button,::-webkit-outer-spin-button{
    opacity: 1;
    -webkit-appearance: button;
    margin: 0;
}


footer{
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color:#e8491d;
    text-align: center;
}


/* Media Queries */
@media(max-width: 777px){
#boxes .box,header nav,header #branding{
    float: none;
    text-align: center;
    width: 100%;
}
    .container li,.container a{
        float: left;
        font-size: 14px;
    }
    .container{
        width: 100%;
    }
    #showcase{
        min-height: 400px;
        background: url(DNA1.jpg)-2500px -719px;
        position: initial;
        background-size: 970%;
        text-align: center;
        color: #ffffff;
        transition: 10s;
    }
    .opinion{
        padding-right: 27%;
        margin-bottom: 0;
        color: #e8491d;
        font-size: 18px;
        position: sticky;
        transition: 8s;
        transition-delay: 2s;
    }


}

@media(max-width: 373px) {
    .container li, .container a {
        float: left;
        font-size: 13px;
        padding: 3px 6px 3px 7px;
    }
}
