body{
    font: 15px/1.5 Arial,Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color: #f4f4f4;
}
.home{
    background-color: #0e0e0e;
    padding: 12px 25px 10px 93px;
}

.logo {
    height: 67px;
    position: absolute;
}

/* Global */
.container{
    width:92%;
    margin:auto;
    overflow:hidden; /*if something goes outside of div it will be hidden*/
}

button{
    color: #35424a;
    font-weight: bold;
    background-color: lightslategrey;
    padding: 3px 43px 4px 50px;
    transition: 0.6s;
}

button:hover {
    color: #e8491d;
    transition: 0.5s;
    font-weight: bold;
}

ul{
    margin:0;
    padding:0;
}

/* Header */
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.8s;
}

header li{
    float:left;
    display:inline-block;
    padding:0 20px 0 20px;     /*top right bottom left*/
    border:2px solid #e8491d;
    margin-right: 2px;
}

header #branding{
    float:left;

}

header #branding{
    margin: -20px;
    padding-left: 20px;
    padding-right: 20px;
}
header nav{
    float:right;
    margin-top:10px;
}

header .highlight, header .current a, section .highlight{
    color:#e8491d;
    font-weight:bold;
    transition: 1.0s;
}
header a:hover {
    color: #ffffff;
    font-weight: bold;
    transition: 0.6s;
}

.currentmain{
    color:#e8491d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.8s;
    font-weight: bold;
}

/* Showcase */

#welcome {
    padding-top: 40px;
}

#showcase{
    min-height: 400px;
    background: url(DNA1.jpg)-270px -220px;
    position: initial;
    background-size: 150%;
    text-align: center;
    color: #ffffff;
    transition: 10s;
}

#showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom: 10px;
    color: #ffffff;
}
#showcase p{
    font-size: 20px;
    padding-top: 10px;
}
#login{
    padding:50px;
    color:white;
    background:#35424a;
}

#login h1{
    float: left;
    color: #e8491d;
    padding-left: 25%;
}

#login form{
    float: left;
    margin-top: 20px;
    margin-left: 77px;

}

#login input[type="text"]{
    padding: 4px;
    height: 10px;
    width: 150px;
}

/*boxes*/
#boxes{
    margin-top:20px;
}

#boxes .box{
    float:left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width:90px;
}

footer {
    padding: 10px;
    margin-top: auto;
    color: white;
    background-color: #e8491d;
    text-align: center;
}

#leaderboard{
width:100%;
border-style:solid;
border-collapse:collapse;
background:#34495e;
color: #f3f3f3;    
}
tr{
text-align:center;
}
td,th{
padding:8px;
}
tr:nth-of-type(odd){
background:#16a085;
}
th{
background:#2c3e50;
font-weight:bold;    
}
#boxes{
background:#2c3e50;
color:white;
margin-top:auto;    
}


/* Media Queries */
@media(max-width: 768px){
    #boxes .box,header nav,header #branding{
        float: none;
        text-align: center;
        width: 100%;
    }
    .container li,.container a{
        float: right;
        font-size: 14px;
    }
    .container{
        width: 100%;
    }
    #showcase{
        min-height: 400px;
        background: url(DNA1.jpg)-2500px -719px;
        position: initial;
        background-size: 970%;
        text-align: center;
        color: #ffffff;
        transition: 10s;
    }
}
@media(max-width: 373px) {
    .container li, .container a {
        float: left;
        font-size: 14px;
    }
}