.menu-content{
  max-height:0;
  overflow:hidden;
  font-family: 'Verdana' , sans serif;
  padding: 0 0 0 50px;

}
input:checked ~ .menu-content{
max-height:100%;
}
.collapsible-menu{
  backgroup-color:rgb(255, 255, 255);
  padding:0px 25px;
  border-bottom: 3px solid gold;
  box-shadow:1px 2px 3px rgb(0,0,0,0.2);
}

.collapsible-menu ul{
  list-style-type:none;
  padding:0;
}
.collapsible-menu a{
display:block;
  padding:10px;
  text-decoration:none;
}

.collapsible-menu label {
font-family:'SansSerif',cursive;
  font-size:26px;
  display:block;
  cursor:pointer;
  padding:10px 0 10px 50px;
}
input#menu{
  display:none;
}

#treasurehuntist {
  display: none;
}

#login {
  display: none;
}

#loginusername {
  font-weight: bold;
  margin-bottom: 0;
  position: center;
}

#teamname {
  width: 60%;
  padding: 1% 2%;
  margin: 1% 0;
  display: inline-block;
  border: 1px solid #aaaaaa;
  position: center;
}

#teamnamesubmit {
  background-color: #4caf50;
  color: white;
  padding: 1% 2%;
  margin: 1% 0;
  width: 60%;
  cursor: pointer;
}